@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Noto+Sans+JP:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: black;
  color: white;
  font-family:"Roboto", sans-serif; 
  
}
.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.838),rgba(0, 0, 0, 0.8)),url('backgroundimage.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav img{
  cursor: pointer;
  margin-top: 10px;
  margin-left: 120px;
}
.up{
  margin-right: 120px;
}
.sign{
  cursor: pointer;
  background-color: #db0001;
  color: white;
  border: 0;
  padding: 7px 20px;
  border-radius: 4px;
  font-size: 16px;
  margin: 4px;
}
select{
  background-color: transparent;
  color: white;
  border: 0;
  padding: 6px 15px;
  border-radius: 4px;
  font-size: 16px;
  margin: 4px;
  border: 1px solid white;
}
.header-content{
  position: absolute;
  top:38%;
  left: 33%;
  text-align: center;
 
}
.header-content h1{
  font-size: 50px;
  font-weight: 900;
   line-height: 3.8rem;
}
.header-content h3{
  font-weight: 500;
   line-height: 3.8rem;
}
.header-content p{
  margin-bottom: 10px;
}
#em{
   
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  padding: 0.5rem;
  padding: 13px;
  padding-right: 100px;
  font-size: 1.2rem;
}
.gs{
  cursor: pointer;
 background-color: #db0001;
  color: white;
  border: 0;
  padding: 15px 20px;
  border-radius: 4px;
  font-size: 16px;
  margin: 4px;
}
.features{
  min-height: 50vh;
  width: 90vw;
  background-color: rgba(0, 0, 0);
  margin-left: 90px;
  margin-right: 50px;
}
.bend-light{
  position: absolute;
  bottom: -5px;
  height: 20px;
  width: 100%;
  border-top: 5px solid red;
  background-color: rgba(0, 0, 0, 0.553);
  border-radius:120%;
  
}
.cardnumber span{
  color: rgba(0, 0, 0, 0.8);
  -webkit-text-stroke: 0.125rem rgb(255, 255, 255);
  text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
  font-size: 6rem;
  font-weight: 700;
   font-family: "Inter", sans-serif;
}
.card{
  position: relative;
}
.cardnumber{
  position: absolute;
  top: 170px;
  left: -28px;
}
.carousel{
  display: flex;
  justify-content: space-between;
   align-items: center;

}
.features h2{
  margin-top: 40px;
  margin-bottom: 28px;
}
.cardimage img{
 
  border-radius: 4px;
    cursor: pointer;
}

.card:hover{
 transition: 0.5s ease-in-out;
  transform: scale(1.1);
}
#btn{
  cursor: pointer;
  background-color: rgba(82, 88, 94, 0.507);
  height: 150px;
  padding: 10px;
  border: none;
  color: rgba(255, 255, 255, 0.586);
  border-radius: 12px;
  font-size: 1.5rem;
}
#btn:hover{
  cursor: pointer;
  background-color: rgba(131, 133, 136, 0.507);
 height: 150px;
  padding: 10px;
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 12px;
 
}
.reasons{
  min-height: 50vh;
  width: 100%;
}
.reasons h2{
  margin-top: 30px;
  margin-left: 89px;
  
}
.reason-one{
  
  background-color: #1A1F40;
  background-image: linear-gradient(to right,#1A1F40,#30153b);
  height: 250px;
  width: 20%;
  margin-top: 20px;
  padding: 20px;
  border-radius: 9px;
}
.reason-one{
  position: relative;
}
.rimage{
  position: absolute;
  right:10px ;
  bottom: 10px;
}
.rtext h3{
  font-size:24px;
  margin-bottom: 20px;
}
.rtext p{
  font-size: 16px;
  color: rgba(255, 255, 255, 0.618);
}
.four-reasons{
  display: flex;
  justify-content: space-evenly;
}
.faq{
  background-color: black;
  min-height: 85vh;
  width: 100%;
}
.faq h2{
  font-size: 24px;
  margin-left: 89px;
  margin-bottom: 20px;
}
.faqone{
  cursor: pointer;
  font-family: "Inter", sans-serif;
  margin-left: 89px;
  margin-right: 89px;
  margin-bottom: 10px;
  padding: 24px;
  font-size: 24px;
  background-color:#2D2D2D;
   color: rgba(255, 255, 255);
  display: flex;
  justify-content: space-between;
}
.faqone:hover{
  transition: 0.2s ease-in;
  background-color: #414141;
}
.footer{
  min-height: 90vh;
}
.email-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.email-form h3{
  margin-bottom: 12px;
}
.email-form input{
  padding: 24px 16px 8px;
  width: 560px;
  height: 56px;
  margin-right: 5px;
}
.email-form button{
  height: 55px;
}
.qstn{
  margin-left: 89px;
  margin-top: 60px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.689);
  margin-bottom: 50px;
}
.qstn span{
  text-decoration: underline;
  cursor: pointer;
}
.linkone a{
  color:rgba(255, 255, 255, 0.689);
}
.linkone a:active{
  color:rgb(255, 255, 255);
 
}
.linkone li{
  list-style-type:none;
   margin-bottom: 15px;
}
.links{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.bottom-select{
  margin-top: 30px;
  margin-left: 89px;
  border: 1px solid rgba(255, 255, 255, 0.689);
  color: rgba(255, 255, 255, 0.871);
}
.bottom-select:active{
  outline: 2px solid white;
  outline-offset: 2px;
}
.bottom-select:hover{
  outline: 1px solid white;
  outline-offset: 2px;
}
.ni,.lm{
  margin-top: 40px;
  margin-left: 89px;
  color: rgba(255, 255, 255, 0.689);
}
.ni{
  font-size: 14px;
}
.lm{
  font-size: 13px;
}
.lm a{
  color: blue;
}